/* font */
@import url(https://db.onlinewebfonts.com/c/c935c99319b6455292ddb654ceeeb237?family=Gainsborough);

/* body */

body {
    background: #383850 url(assets/background.jpg) no-repeat fixed center center;
    -webkit-background-size: 70% 90%;
    -moz-background-size: 70% 90%;
    -o-background-size: 70% 90%;
    background-size: 70% 90%;

    color: #ffffff;
    font-size: 2.5vmin;

    position: relative;
    text-align: center;

    font-family: "Gainsborough", serif;

    height: 100vh;
    width: 100vw;
}

.param {
    position: absolute;
}

.vertical {
    transform: rotate(270deg);
}

/* params position */

#lm_rpm {
    bottom: 8.5%;
    left: 18%;
    width: 13.9%;
    min-height: 3.9%;
    line-height: 3.9vh;
}

#rm_rpm {
    bottom: 8.5%;
    left: 68%;
    width: 14.8%;
    min-height: 3.9%;
    line-height: 3.9vh;
}

#ecu_po_ver {
    bottom: 14%;
    left: 42.7%;
    width: 13.9%;
    min-height: 3.9%;
    line-height: 3.9vh;
}

/* --------- */

#ecu_rpm {
    top: 54.65%;
    left: 42.65%;
    width: 14.1%;
    min-height: 6.65%;
    line-height: 6vh;
}

#ecu_cooltemp {
    top: 61.315%;
    left: 42.65%;
    width: 14.1%;
    min-height: 6.65%;
    line-height: 6vh;
}

#m_power {
    top: 68.1%;
    left: 42.65%;
    width: 14.1%;
    min-height: 6.65%;
    line-height: 6vh;
}

/* --------- */

#clutch_on {
    top: 49.3%;
    left: 38.3%;
    width: 11.1%;
    min-height: 4.85%;
    line-height: 5vh;
}

#clutch_time {
    top: 49.3%;
    left: 49.4%;
    width: 11.1%;
    min-height: 4.85%;
    line-height: 5vh;
}

/* --------- */

#lp_power {
    top: 33.85%;
    left: 38.35%;
    width: 8.7%;
    min-height: 5%;
    line-height: 5vh;
}

#lp_com {
    top: 38.85%;
    left: 38.35%;
    width: 8.7%;
    min-height: 5%;
    line-height: 5vh;
}

#lp_pos {
    top: 43.85%;
    left: 38.35%;
    width: 8.7%;
    min-height: 5%;
    line-height: 5vh;
}

/* --------- */

#rp_power {
    top: 33.85%;
    left: 51.75%;
    width: 8.7%;
    min-height: 5%;
    line-height: 5vh;
}

#rp_com {
    top: 38.85%;
    left: 51.75%;
    width: 8.7%;
    min-height: 5%;
    line-height: 5vh;
}

#rp_pos {
    top: 43.85%;
    left: 51.75%;
    width: 8.7%;
    min-height: 5%;
    line-height: 5vh;
}

/* --------- */

#lp_step_count {
    top: 27.1%;
    left: 32.9%;
    width: 14.1%;
    min-height: 6%;
    line-height: 6vh;
}

#rp_step_count {
    top: 27.1%;
    left: 51.75%;
    width: 14.1%;
    min-height: 6%;
    line-height: 6vh;
}

/* --------- */

#lmb_hydr_press {
    bottom: 36%;
    left: 17.85%;
    width: 19%;
}

#lma_hydr_press {
    bottom: 36%;
    left: 20.95%;
    width: 19%;
}

/* --------- */

#rmb_hydr_press {
    bottom: 37%;
    left: 59.95%;
    width: 19%;
}

#rma_hydr_press {
    bottom: 37%;
    left: 63%;
    width: 19%;
}

/* --------- */

#pump_rpm {
    top: 32.15%;
    left: 45%;
    width: 9%;
}

/* --------- */

#lp_1 {
    top: 15%;
    left: 28.85%;
    width: 10%;
}

#lp_2 {
    top: 15%;
    left: 38.4%;
    width: 10%;
}

/* --------- */

#rp_1 {
    top: 15%;
    left: 50.4%;
    width: 10%;
}

#rp_2 {
    top: 15%;
    left: 60%;
    width: 10%;
}